body{
    background: white url("gradient_bg.png") repeat-x;
    font: 14pt arial;
    color: #005555;
    text-align: center;
}

article{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

.primeiro{
    border: 2px solid #335566;
}

.segundo{
    border: 1mm dashed #ff5522;
}

.terceiro{
    border: 0.4vw dotted red;
}

.quarto{
    border: 0.2vh solid green;
}